body{
    margin: 0;
    background-color:cornsilk;
}
.top{
    background-image: url("https://images.unsplash.com/photo-1555532538-dcdbd01d373d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1264&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 50px;
    color: lavenderblush;
    font-family:fantasy;
    letter-spacing: 3px;
}
p{
    margin: 10px;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    font-family: cochin;
}
.nav{
    display: flex;
    position: fixed;
    background-color: lightblue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: background-color 2s;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li a{
    display: flex;
    text-decoration: none;
    margin: 0 10px;
    color: hotpink;
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
}
.nav.active{
    background-color: #06283d;
}
.nav.active ul li a{
    color: cornsilk;
}