body{
    margin: 0;
}
.container{
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1665472832746-93bb2caca867?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1219&q=80");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 60px;
    letter-spacing: 4px;
    font-family: fantasy;
    color:steelblue;
}
.button{
    border: none;
    padding:15px 30px;
    border-radius: 15px;
    font-size: 20px;
    background-color: darkcyan;
    color: azure;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}
.button:hover{
    filter: brightness(.8);
}
.popup{
    display: flex;
    flex-direction: column;
    left: 50%;
    top:30%;
    transform: translate(-50%,-50%);
    position: fixed;
    height: 250px;
    width: 400px;
    background: url("https://images.unsplash.com/photo-1665162858084-aa2cf78eba8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80");
    background-size: cover;
    border-radius: 35px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0,.3);
    padding:20px;
    opacity: 1;
    transition: all 1s;
}
h4{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: lightpink;
    text-align: center;
    font-family: cursive;
}
label{
    font-size: 30px;
    font-family: cochin;
    color: darkslategray;
}
.input{
    font-size: 18px;
    margin:15px 0px;
    padding: 5px;
    box-sizing: border-box;
}
.btn{
    background-color: cornflowerblue;
    border:grey solid;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
.close{
    position: absolute;
    top:25px;
    right: 20px;
}
.close:hover{
    color: aqua;
}
.active.container{
    filter:blur(3px) brightness(.8);
}
.active.popup{
    visibility:hidden ;
    opacity: 0;
    top: 10%;
}
   



